<footer class="bg-black ph3 pv3 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Hummingbird logo" class="db w5 center mb4 br0">

		</div>

		<div class="flex-ns justify-around">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Hummingbird blues</h3>
				<ul class="mb3">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
						<li><a href="{{ .URL }}" class="link">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					<div class="fb-page" data-href="https://www.facebook.com/hummingbirdblues"
					data-small-header="true" data-adapt-container-width="false"
					data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/hummingbirdblues"
						class="fb-xfbml-parse-ignore">
							<a href="https://www.facebook.com/hummingbirdblues">Hummingbird Blues</a>
						</blockquote>
					</div>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
