<div class="bg-off-white pv4 ph3">
	<div class="mw7 center">
		<h2 class="f2 b lh-title mb3">{{.heading}}</h2>
		<div class="flex-ns">
			<div class="w-60-ns">
				<p class="cms">{{.description | markdownify}}</p>
				
				<div class="tc">
					{{ if .formButtonLink }}
						<a href="{{.formButtonLink}}" class="btn raise">{{.formButtonText}}</a>
					{{ end }}
					{{ if .indiegogoButtonLink }}
						<a href="{{.indiegogoButtonLink}}" class="btn raise">{{.indiegogoButtonText}}</a>
					{{ end }}
				</div>
			</div>
			<div class="w-40-ns tc dn db-ns">
				{{ if .indiegogoEmbedLink }}
					<iframe src="{{.indiegogoEmbedLink}}" width="222px" height="445px" frameborder="0" scrolling="no"></iframe>
				{{ else }}
					<img src="/img/logo.svg" alt="Hummingbird logo" class="w5 center mb4 br0 ">
				{{ end }}
			</div>
		</div>
	</div>
</div>
