<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <div class="mb4 mw6 cms">
      <p>{{.text | markdownify }}</p>
    </div>
    <section class="relative aspect-ratio aspect-ratio--16x9 overflow-hidden">
      <iframe
        src="{{.video}}"
        class="absolute top-0 left-0 h-100 w-100"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen>
      </iframe>
    </section>
    <div class="tc pt3">
      <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
    </div>
  </div>
</div>