{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "text-and-link" (dict "heading" .Params.intro.heading "text" .Params.intro.text "buttonText" "Register now!" "buttonLink" "/registration") }}

{{ partial "text-and-image" (dict "heading" .Params.about.heading "text" .Params.about.text "buttonText" "Read more" "buttonLink" "/about" "image" .Params.about.image) }}

{{ end }}
